/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// shortcuts

// Layers
#define CO 0
#define QW 1
#define SY 2
#define EX 3
#define NU 4
#define FN 5

/ {
  behaviors {
      cht: custom_hold_tap {
        compatible = "zmk,behavior-hold-tap";
        label = "CUSTOM_HOLD_TAP";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
      };
      clt: custom_layer_tap {
        compatible = "zmk,behavior-hold-tap";
        label = "CUSTOM_LAYER_TAP";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&mo>, <&kp>;
      };
  };

  macros {
    ZMK_MACRO(uc_gbp, wait-ms = <16>; bindings = <&kp LC(LS(U))>, <&kp N0 &kp N0 &kp A &kp N3>, <&kp SPACE>;) // this doesn't work on Mac
    ZMK_MACRO(vi_sav, wait-ms = <16>; bindings = <&kp COLON &kp W>, <&kp RET>;)
    ZMK_MACRO(runner, bindings = <&kp LC(SPACE)>;)
    ZMK_MACRO(find, bindings = <&kp LC(F)>;)
    ZMK_MACRO(pre_tab, bindings = <&kp LC(LS(TAB))>;)
    ZMK_MACRO(nex_tab, bindings = <&kp LC(TAB)>;)
    ZMK_MACRO(pre_dsk, bindings = <&kp LC(LG(LEFT))>;)
    ZMK_MACRO(nex_dsk, bindings = <&kp LC(LG(RIGHT))>;)
    ZMK_MACRO(tmux, bindings = <&kp LC(B)>;)
  };

  keymap {
    compatible = "zmk,keymap";

      colemak_dh {
        bindings = <
          &clt NU Q    &kp W &kp F &kp P &kp B &kp J &kp L &kp U     &kp Y   &clt FN SEMI
          &kp A        &kp R &kp S &kp T &kp G &kp M &kp N &kp E     &kp I   &kp O
          &cht LSHFT Z &kp X &kp C &kp D &kp V &kp K &kp H &kp COMMA &kp DOT &kp SQT

          &mo FN        &cht LALT UNDER &cht LGUI MINUS &clt EX BSPC   &kp SPACE       &kp ESC //left
          &cht LCTL TAB &kp LSHFT       &clt SY RET     &cht LGUI FSLH &cht LALT QMARK &tmux   //right
        >;
      };

      qwerty {
        bindings = <
          &clt NU Q    &kp W &kp E &kp R &kp T &kp Y &kp U &kp I     &kp O   &clt FN P
          &kp A        &kp S &kp D &kp F &kp G &kp H &kp J &kp K     &kp L   &kp SEMI
          &cht LSHFT Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SQT

          &mo FN        &cht LALT UNDER &cht LGUI MINUS &clt EX BSPC   &kp SPACE       &kp ESC //left
          &cht LCTL TAB &kp LSHFT       &clt SY RET     &cht LGUI FSLH &cht LALT QMARK &tmux   //right
        >;
      };

      // Symbol Layer
      symbol {
        bindings = <
          &kp TILDE &kp GRAVE &kp PLUS &kp EQUAL &none &none &uc_gbp  &none    &kp PIPE  &kp BSLH
          &none     &kp LBKT  &kp LBRC &kp LPAR  &none &none &kp EXCL &kp AT   &kp HASH  &kp DLLR
          &none     &kp RBKT  &kp RBRC &kp RPAR  &none &none &kp AMPS &kp STAR &kp PRCNT &kp CARET

          &trans &trans &trans &trans &trans &trans //left
          &trans &trans &none  &trans &trans &trans //right
        >;
      };

      // Extend Layer with Macros and Special Keys
      extend {
        bindings = <
          &none &vi_sav &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE &kp HOME &kp PG_DN &kp PG_UP &kp END   &none
          &none &find   &pre_tab     &nex_tab     &nex_dsk   &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &runner
          &none &none   &none        &none        &pre_dsk   &kp CAPS &none     &none     &none     &none

          &trans &trans &kp DEL &none  &trans &trans //left
          &trans &trans &trans  &trans &trans &trans //right
        >;
      };

      // Numpad
      numbers {
        bindings = <
          &none &none &none &none &none &kp DOT   &kp N7 &kp N8 &kp N9 &kp N0
          &none &none &none &none &none &kp MINUS &kp N4 &kp N5 &kp N6 &kp PLUS
          &none &none &none &none &none &kp STAR  &kp N1 &kp N2 &kp N3 &kp FSLH

          &trans &trans &trans &trans &trans &trans //left
          &trans &trans &trans &trans &trans &trans //right
        >;
      };

      // Adjustments layer and Fn Keys
      fns {
        bindings = <
          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp C_PREV &kp F7 &kp F8 &kp F9 &kp F10
          &reset       &none        &none        &none        &none        &kp C_PP   &kp F4 &kp F5 &kp F6 &kp F11
          &out OUT_BLE &out OUT_USB &none        &none        &bootloader  &kp C_NEXT &kp F1 &kp F2 &kp F3 &kp F12

          &none  &trans &trans &trans &trans &bt BT_CLR //left
          &trans &trans &trans &trans &trans &trans //right
        >;
      };
  };
};
